{% load static %}
{% load mathfilters %}
{% include "includes/landing_top.html" %}

<body>
	<script src="{% static 'js/jquery.vide.min.js' %}"></script>
	
	<!-- special -->
	<div class="special">
		<div class="container">
			<div class="special-heading">
				<h3>Today Specials</h3>
			</div>
			<div class="special-grids">
			{% for f in foods %}
					<div class="col-md-4 w3l-special-grid">
						<a href="{% url 'booking:food_details' f.id %}">
							<div class="col-md-6 ">
								<div class="w3ls-special-text effect-1">
									<h4>{{f.name|truncatechars:11}}</h4>
								</div>
							</div>
						</a>

						<div class="col-md-6 agileits-special-info">
							<a href="{% url 'booking:food_details' f.id %}"><h4>{{f.name|truncatechars:11}}</h4></a>
							<p>{{f.content_description|truncatechars:90}}</p>
						</div>
					</div>
			{% endfor %}
					<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //special -->
	<!-- features -->
	<div class="features">
		<div class="container">
			<div class="features-heading">
				<h3>Our Features</h3>
			</div>
			<div class="features-grids">
				<div class="col-md-4 features-left">
					<div class="features-left-info">
					</div>
				</div>
				<div class="col-md-8 features-right">
					<div class="features-right-info">
						<h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae voluptates hic inventore et nemo nesciunt perspiciatis dignissimos ipsam molestias veritatis non, dolorem quas. Voluptatem ex nihil quidem optio, provident sed.</h3>
					</div>
					<div class="features-right-grids">
						<div class="features-right-left">
							<div class="features-right-icon effect-2">
								<i class="fa fa-users" aria-hidden="true"></i>
							</div>
						</div>
						<div class="features-right-right">
							<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae repellat blanditiis nisi tempora ullam voluptatibus eos in possimus sint temporibus!</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="features-right-grids">
						<div class="features-right-left">
							<div class="features-right-icon effect-2">
								<i class="fa fa-asterisk" aria-hidden="true"></i>
							</div>
						</div>
						<div class="features-right-right">
							<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet sint fugit ducimus asperiores ad eligendi modi, reiciendis dignissimos praesentium, neque rerum quam, id esse excepturi.</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="features-right-grids">
						<div class="features-right-left">
							<div class="features-right-icon effect-2">
								<i class="fa fa-money" aria-hidden="true"></i>
							</div>
						</div>
						<div class="features-right-right">
							<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae, aliquam quas dolore explicabo vel accusantium aperiam fuga aut modi quos reprehenderit tempora odio molestiae totam?</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="features-right-grids">
						<div class="features-right-left">
							<div class="features-right-icon effect-2">
								<i class="fa fa-cog" aria-hidden="true"></i>
							</div>
						</div>
						<div class="features-right-right">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, nam? Corporis consectetur est earum rem iste, dolorem magnam? Sed, facere.</p>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //features -->
	<!-- customer -->
	<div class="customer">
		<div class="container">
			<div class="customer-heading">
				<h3>What Our Customers are Saying</h3>
			</div>
			<div class="customer-heading-grids">
				<div class="col-md-4 customer-grid">
					<div class="customer-info">
						<p>Excellent Foods</p>
					</div>
					<div class="customer-img">
						
						<h5>Faris Mursal</h5>
					</div>
				</div>
				<div class="col-md-4 customer-grid">
					<div class="customer-info">
						<p>Its the best foods I eat ever had!!!!!</p>
					</div>
					<div class="customer-img">
						
						<h5>Thomas Shebly</h5>
					</div>
				</div>
				<div class="col-md-4 customer-grid">
					<div class="customer-info">
						<p>Super Tasty and Delicious!!!!</p>
					</div>
					<div class="customer-img">
						
						<h5>Polly Gray</h5>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //customer -->
	{% include "includes/footer.html" %}